[Unit]
Description = Jive Player Amp Controller

# if you don't need the MySQL DB backend, this should be sufficient
After = systemd-user-sessions.service network.target sound.target

[Service]
User = root
Group = root
Type = simple
ExecStart = /usr/src/astephanh/netio/netio_server.py
Restart = on-abort
RestartSec = 5

[Install]
WantedBy = multi-user.target encoder.service
